.custom-dropdown {
  position: relative;
  display: inline-block;
}

.selected-option {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  user-select: none;
  border-radius: 6px;
  align-items: center;
  justify-content: space-between;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding: 10px;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  background: #fff;
  box-shadow: 3px 3px 27px 0px rgba(190, 190, 190, 0.3);
  z-index: 1;
}
.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background: #9c4de2;
  color: white;
}

.custom-dropdown.active .dropdown-options {
  display: flex;
}
