.dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}

.cover-image-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed #ccc;
  padding: 40px;
  cursor: pointer;
}

.upload-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.upload-text-header {
  font-size: 14px;
  font-weight: 600;
}

.upload-text-description {
  color: #979797;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}

.delete-reupload {
  color: #a80000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 12px;
}

/* .form__group */
.form__group {
  position: relative;
  padding: 15px 0 0;
  border-bottom: 1px solid #9b9b9b;
  display: flex;
  align-items: center;
}

.form__group:nth-child(9) {
  border-bottom: none;
}

/* .form__field */
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 16px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 12px;
  cursor: text;
  top: 20px;
}

/* .form__label */
.form__label {
  position: absolute;
  top: 6px;
  display: block;
  transition: 0.2s;
  font-size: 10px;
  font-weight: 600;
  color: black;
}

/* .form__field:focus */
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 1.3px;
  /* border-image: linear-gradient(to right, var(--primary), var(--secondary)); */
  border-image-slice: 1;
}

/* Reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.checkbox-switch {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

.switch,
.checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.suffix {
  font-weight: 300;
  font-size: 10px;
}

.add-questions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 2.5rem;
}
